body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue';

}
.App{
  background: linear-gradient(#7b7b7b,#5ccab5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.App h1{
color: white;
}
.formContainer{
  background-color: #2c5046;
  height: 70vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  margin: auto;
}
input[type="text"]{
background-color: transparent;
border: 0;
border-bottom: 1px solid #fff;
width: 100%;
display: block;
padding-bottom: 4px;
color: #fff;
font-weight: lighter;
letter-spacing: 2px;
margin-bottom: 30px;
margin-right: 30px;
font-size: 20px;
outline: none;
}
button{
  background-color: #000;
  padding: 8px 20px;
  margin: 0 2px ;
  border: 0;
  font-weight: 100;
  font-size: 15px;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 5px;
  color: #fff;


}
.info{
  width: 100%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px ;

}
.info-key{
  color: #fff;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  
}
.info-key:last-child{
  border: 0;
}
.info-value{
  color: #fff;
  font-weight: 200;
}

